.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerTukiComponents {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 0px 1px slateblue ;
}

